.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #af0b4d;
}

body {
    line-height: 1.7;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1rem;
    background: rgb(255, 255, 255);
}

.menu {
    text-transform: uppercase;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@font-face {
    font-family: "Roboto"; 
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
