.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    color: #ffffff;
    
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #af0b4d;
    background-color: #00000000;
}

body {
    line-height: 50px;
    font-weight: 400;
    font-size: 1rem;
    background: rgb(255, 255, 255);
    position: relative;
}

.menu {
    text-transform: uppercase;
}

.navbar-toggler:focus {
    box-shadow: none;
}

header {  
    background-color: rgba(0, 0, 0, 0.74);  
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 100%;
    }

.main-icon {
    width: 25px;
    height: 25px;
}

.site_section_top {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    
}

#home {
    height: 100vh;
    min-height: 500px;
    z-index: 2;
    position: relative;
    background: rgba(0, 0, 0, 0.479);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.main-content {
    background-color: black;
    width: 100%;
    position: relative;
    float: none;
}

#photo_container {
    width: 100%;
    max-width: 100%;
}

#images {
    margin-top: 30px;
}

@font-face {
    font-family: "Roboto"; 
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 