@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto" , sans-serif;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  line-height: 50px;
  font-weight: 400;
  font-size: 1rem;
  background: rgb(0, 0, 0);
  position: relative;
}
body::-webkit-scrollbar{
  width: 5px;
  background-color: #000000;
}
body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #c59bff;
}
body::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #000000;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #000000;
  padding: 6px 14px;
  z-index: 99;
  width: 250px;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .logo_name{
  opacity: 1;
  width: 300px;
  height: 300px;
  margin-top: 100px;
  margin-left: -48px;
}
.sidebar.close .logo-details .logo_name{
  opacity: 0;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  font-size: 23px;
  text-align: right;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.close .logo-details #btn{
  color: #fff;
  text-align: center;
}
.sidebar .logo-details #btn:hover{
  color: #c59bff;
}
@media (pointer:coarse){
  .sidebar .logo-details #btn:hover{
      color: #fff;
  }
}
.sidebar .nav-list{
  margin-top: 100px;
  padding-left: 0px;
}
.sidebar.close .nav-list{
  margin-top: 0px;
  padding-left: 0px;
}
.sidebar .nav-list li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar.close li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 17px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  width: auto;
}
.sidebar.close li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1024px){
  .sidebar li .tooltip{
    display: none;
  }
}
.sidebar i{
  min-width: 50px;
  max-width: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  color: #fff;
  transition: color 0.5s ease;
  text-align: center;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #000000;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: none;
  transition: color 0.5s ease;
  opacity: 1;
  pointer-events: auto;
}
.sidebar.close li a .links_name{
  opacity: 0;
  pointer-events: auto;
}
.sidebar li a.active .links_name,
.sidebar li a:hover .links_name{
  color: #c59bff;
  transition: color 0.5s ease;
}
@media (pointer:coarse){
  .sidebar li a.active .links_name,
  .sidebar li a:hover .links_name{
      color: #fff;
  }
}
.sidebar li a.active i,
.sidebar li a:hover i{
  color: #c59bff;
  transition: color 0.5s ease;
}
@media (pointer:coarse){
  .sidebar li a.active i,
  .sidebar li a:hover i{
      color: #fff;
  }
}
.sidebar .social-list{
  padding-top: 20px;
  padding-left: 0;
}
.sidebar .social-list li{
  display: inline-block;
  list-style: none;
  max-width: 50px;
}
.sidebar.close .social-list li{
  opacity: 0;
}
.home-section{
  position: relative;
  background: #000000;
  min-height: 100hv;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 2;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
@media (min-width: 700px){
  .home-section{
    transition: 0.5s ease;
  }
}
.home-section .text{
  display: inline-block;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
#section_main{
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
#section_main .row{
  height: 100vh;
  min-height: 500px;
  z-index: 2;
  position: relative;
  background: rgba(0, 0, 0, 0.750);
  width: auto;
}
#section_main p{
  color: #fff;
  line-height: 30px;
}
#section_materials{
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
#section_materials .row{
  width: auto;
}
#section_materials h2{
  text-align: center;
  margin-bottom: 30px;
}
#section_materials p{
  line-height: 30px;
  margin-bottom: 30px;
}
#section_materials .gems-list{
  list-style-type: none;
  padding: 0;
}
@media (max-width: 768px){
  #section_materials .gems-list{
    padding-left: 27%;
  }
}
#section_materials .gems-list li{
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  list-style: none;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #000000;
}
@media (min-width: 1920px){
  #section_materials .gems-list li{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    list-style: none;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background: #000000;
    padding-left: 25%;
  }
}
#section_materials .gems-list li i{
  line-height: 48px;
  font-size: 36px;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  text-align: center;
}
#section_materials .gems-list li .gem-name{
  text-align: left;
  min-width: 100px;
}
#section_works{
  color: #fff;
  background-color: rgb(17, 17, 17);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 12px;
  padding-right: 12px;
}
#section_works h2{
  text-align: center;
  margin-bottom: 30px;
}
#section_works .container-fluid{
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
#section_works .container-fluid .col-12{
  width: 100%;
}
#section_works .container-fluid .col-12 .row{
  border-top: 3px solid rgb(0, 0, 0);
  margin: auto;
}
#section_works h3{
  text-align: left;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}
#section_works .container-fluid .col-12 .row #images{
  padding-top: 12px;
  padding-bottom: 12px;
}
#section_works .img-fluid{
  transition: all 0.5s ease;
}
#section_works .img-fluid:hover{
  transform: scale(1.15);
}
#section_contacts{
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
#section_contacts .row{
  width: auto;
}
#section_contacts h2{
  text-align: center;
  margin-bottom: 30px;
}
#section_contacts p{
  line-height: 30px;
  margin-bottom: 30px;
}
#section_contacts .row .contacts{
  padding: auto;
}
#section_contacts .row .contacts ul{
  padding-bottom: 30px;
}
#section_contacts .row .contacts li{
  display: inline-block;
  list-style: none;
  max-width: 200px;
}
#section_contacts .row .contacts li a{
  display: flex;
  height: 100%;
  width: 150px;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease;
}
#section_contacts .row .contacts li a:hover{
  color: #c59bff;
  transition: color 0.5s ease;
}
@media (pointer:coarse) {
  #section_contacts .row .contacts li a:hover{
      color: #fff;
  }
}
#section_contacts .row .contacts i{
  font-size: 36px;
}
#section_contacts .row .contacts span{
  font-size: 20px;
}
#section_contacts .contact-form{
  color: #fff;
  line-height: 30px;
  padding-left: 10%;
  padding-right: 10%;
}
#section_contacts .contact-form .button{
  border: 1px solid #ffffff;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-size: 18px;
  transition: all 0.5s ease;
}
#section_contacts .contact-form .button:hover{
  border: 1px solid #c59bff;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: #c59bff;
  font-size: 18px;
  transition: all 0.5s ease;
}
@media (pointer:coarse){
  #section_contacts .contact-form .button:hover{
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}
#section_contacts .form-field{
  outline: none;
  border: none;
  border-color: #000000;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(255, 255, 255, 0.568);
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
#section_contacts .form-field:hover{
  outline: none;
  border: none;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
#section_delivery{
  color: #fff;
  background-color: rgb(17, 17, 17);
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 980px;
}
#section_delivery h2{
  text-align: center;
  margin-bottom: 30px;
}
#section_delivery p{
  line-height: 30px;
  margin-bottom: 30px;
}
