.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #af0b4d;
}

body {
    line-height: 50px;
    font-weight: 400;
    font-size: 1rem;
    background: rgb(255, 255, 255);
    position: relative;
}

.menu {
    text-transform: uppercase;
}

.navbar-toggler:focus {
    box-shadow: none;
}

header {  
    background-color: rgb(255, 255, 255);  
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 100%;
    }

.main-icon {
    width: 25px;
    height: 25px;
}

.site_section_top {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    
}

#home {
    height: 100vh;
    min-height: 500px;
    z-index: 2;
    position: relative;
    background: rgba(0, 0, 0, 0.479);
}

html {
    overflow-x: hidden;

}

@font-face {
    font-family: "Roboto"; 
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
