<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    {% block title %}
    <title>Jewelry by Svetlana Remizontseva</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body data-bs-spy="scroll" data-bs-target="#main-navigation" data-bs-offset="200">
    {% load static %}
    <header class="menu" data-aos="fade-down" data-aos-duration="1000">
        <nav class="navbar navbar-expand-lg" id="main-navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'base' %}">Логотип</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <img src="media\SVG\190-menu.svg" class="main-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="#section_main">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section_work">Примеры работ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section_materials">Материалы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section_contacts">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section_delivery">Доставка и оплата</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main-content" data-bs-spy="scroll" data-bs-target="#main-navigation">

        <section class="site_section_top" id="section_main" style="background-image: url('media/images/Test2.jpg')"
            data-stellar-background-ratio="0.5">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center" id="home">
                    <div class="col-md-7 text-center">
                        <h1 class="text-white heading text-uppercase" data-aos="fade-up" data-aos-delay="500">Привет
                        </h1>
                        <p class="lead text-white mb-5" data-aos="fade-up" data-aos-delay="500">Это супер пупер сайт,
                            шо, как он? Тут можно написать о себе
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <section class="row align-items-stretch photos" id="section_work">
                <div class="container-fluid" id="photo_container">
                    <div class="col-12">
                        <div class="row align-items-stretch">
                            {% for image in images_list %}
                            <div class="col-4 col-md-4 col-lg-2" id="images" data-aos="fade-up" data-aos-delay="100">
                                <a href="media/{{ image.name }}" class="d-block photo-item" data-fancybox="gallery">
                                    <img src="media/{{ image.name }}" alt="Image" class="img-fluid">
                                    <div class="photo-text-more">
                                        <span class="icon icon-search"></span>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="materials" id="section_materials">
                <div class="row">
                    <h1>gggggggggggggggggggggggggggggggggggggg</h1>
                </div>
            </section>

            <section class="contacts" id="section_contacts">
                <div class="container-md">
                    <div class="row">

                    </div>
                </div>
            </section>

            <section class="shipping" id="section_delivery">
                <div class="container-md">
                    <div class="row">

                    </div>
                </div>
            </section> -->
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>