<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    {% block title %}
    <title>Добро пожаловать!</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% load static %}
    <header>
        <div class="container-fluid" style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold;">
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container">
                    <a class="navbar-brand order-md-2" href="{% url 'base' %}">
                        <img src="media/logo.svg" alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <div class="collapse navbar-collapse order-md-1" id="navbarMenu">
                        <ul class="navbar-nav me-auto" >
                            <li class="nav-item">
                                <a class="nav-link" id="menu_link" href="{% url 'base' %}">ГЛАВНАЯ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="menu_link" href="{% url 'rings' %}">КОЛЬЦА</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="menu_link" href="{% url 'earrings' %}">СЕРЬГИ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="menu_link" href="{% url 'necklaces' %}">КОЛЬЕ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse order-md-3" id="navbarMenu">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" id="menu_link" href="{% url 'contacts' %}">КОНТАКТЫ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.instagram.com/"><img src="media/unnamed.webp"
                                        alt="Inst" style="width: 25px; height: 25px;"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://vk.com/"><img src="media/VK.com-logo.svg.png"
                                        alt="Inst" style="width: 25px; height: 25px;"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.whatsapp.com/"><img
                                        src="media/whatsapp-icon-logo.svg" alt="Inst"
                                        style="width: 25px; height: 25px;"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://tlgrm.ru/"><img
                                        src="media/512px-Telegram_logo.svg.png" alt="Inst"
                                        style="width: 25px; height: 25px;"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block content %} {% endblock %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

</html>